<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All songs</title>
</head>
<body>
<form action="#" th:action="@{/add-song}" th:object="${song}" method="post">
    <p>Title: <input type="text" field="*{title}" name="title"/></p>
    <p>Length: <input type="text" field="*{length}" name="length"/></p>
    <p>TrackNumber: <input type="text" field="*{trackNumber}" name="trackNumber"/></p>
    <p><input type="submit" value="add" /> <input type="reset" value="Reset" /></p>
</form>
<div th:each="song : song">

    <p>title: <samp text="${song.title}"> </samp></p>

    <p>length: <samp text="${length}"> </samp></p>

    <p>TrackNumber: <samp text="${trackNumber}"></samp> </p>

</div>
</body>
</html>